@font-face {
  font-family: NotoSans;
  src: url(./NotoSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: NotoSans;
  src: url(./NotoSans-Bold.ttf);
  font-weight: bold;
}
* {
  font-family: NotoSans;
}
